*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: radial-gradient(circle, rgba(5,20,26,0.5) 0%, rgba(19,77,102,0.5) 94%), url(./assets/Havi.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    margin-top: 35px;
    color: snow;
    justify-content: center;
    align-items: center;
}

.top {
    width: 456px;
    margin-left: 50px;
    margin-bottom: -50px;
}

.top-large {
    font-size: 2.5em;
    float: left;
}

.top-small {
    float: left;
    font-size: 2em;
    margin: auto;
}

.middle {
    width: auto;
    float: left;
    margin: auto;
    font-size: 1.7em;
}

.down {
    margin: auto;
    width: 456px;
}

.down-large {
    font-size: 2em;
    float: left;
}

.down-small {
    font-size: 1.5em;
    float: left;
    margin-top: -10px;
}

.game-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: snow;
}

.mjolnir, .cloak, .excalibur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100vh;
    max-height: 100vh;
    object-fit: cover;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    gap: 10em;
}

.weapon-desc {
    margin-top: 15px;
    padding: 5px;
    font-size: 1.5rem;
    text-decoration-color: none;
}

#prompt-text {
    font-size: 1.5rem;
    margin-bottom: 45px;
}

#one, #two, #three {
    margin-top: 15px;
    padding: 10px;
    font-size: 1.5rem;
    text-decoration-color: none;
    letter-spacing: 1.4px;
    background-color: transparent;
    border: 1px solid snow;
    color: snow;
    border-radius: 1000px;
    box-shadow: 0 0 10px gold;
}



img:hover {
    border: 0 solid gold;
    box-shadow: 0 0 10px 10px gold;
}

img {
    border-radius: 100px;
}